.head {
	background-image: url('../images/slider-1.jpg');
	height: 700px;
	opacity: 1;
	z-index: -1;
	color: white;
}



.item a {
	color: wheat;
	font-size: 30px;
    text-decoration: none;
}
.item ul{
    display: flex;
    justify-content: center;
}
.item li{
    margin-left: 20px;
}
.item {
	font-size: 37px;
}
.second {
	display: inline-block;
	margin-top: 150px;
	text-align: center;
	margin-left: 432px;
}
#soulful {
	width: 85%;
	margin: auto;
	/* padding: 50px; */
}
.soul {
	text-align: center;
	margin: 47px 0px;
}
.soulful h1 {
	margin: 22px 0px;
	font-size: 40px;
}
.but {
	margin: 40px 0px;
}
.soul h2{
	color: rgb(42, 97, 99);
}
.vision{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	width: 80%;
	margin: auto;
}
.right {
	/* padding: 50px 0px; */
	margin-top: 130px;
	padding: 20px;
}
.vision img {
	width: 510px;
}
.right h2 {
	padding: 35px;
}
.brings{
	width: 80%;
	margin: auto;
}
.bring-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	
}
.bring-2 ul{
	display: flex;
}
.bring-1 img {
	width: 555px;
	height: 486px;
}
.bring-1 {
	padding: 44px 0px;
}
.b-img{
	width: 555px;
	height: 486px;
}
.bring-1 {
	padding: 44px 0px;
}
.bring-2 ul img {
	width: 195px;
}
.bring-2 {
	padding: 13px 0px;
}
.bring-1 p{
	margin-bottom: 36px;
}
.bring-2 ul{
	margin-bottom: 36px;
}
.bring-grid h2 {
	padding: 14px 25px;
}
.brings h1 {
	margin: 35px 0px;
	
}


@media(max-width:1270px){
	.vision {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
		width: 99%;
		margin: auto;
	}
	.brings {
		width: 90%;
		margin: auto;
	}
}
@media(max-width:1200px){
	.second {
		display: inline-block;
		margin-top: 150px;
		text-align: center;
		margin-left: 341px;
	}
	.brings {
		width: auto;
		margin: 15px;
	}
}
@media(max-width:1150px){
	.bring-2 ul img {
		width: 156px;
	}
	.b-img {
		width: 537px;
		height: 475px;
	}
	.bring-1 img {
		width: 537px;
		height: 475px;
	}
	.bring-2 {
		padding: 42px 0px;
	}
}
@media(max-width:1100px){
	.b-img {
		width: 500px;
		height: 450px;
	}
	.bring-1 img {
		width: 500px;
		height: 450px;
	}
	.vision img {
		width: 500px;
	}
}
@media(max-width:1034px){
	.right {
		/* padding: 50px 0px; */
		margin-top: 130px;
		padding: 0px;
	}
	.bring-1 {
		padding: 26px 0px;
	}
	.b-img {
		width: 450px;
		height: 420px;
	}
	.bring-1 img {
		width: 450px;
		height: 420px;
	}
}
@media(max-width:1000px){
	.second {
		display: inline-block;
		margin-top: 150px;
		text-align: center;
		margin-left: 259px;
	}
	.vision img {
		width: 448px;
	}
	.right h2 {
		padding: 24px;
	}
}
@media(max-width:935px){
	.second {
		display: inline-block;
		margin-top: 130px;
		text-align: center;
		margin-left: 230px;
	}
	.vision img {
		width: 428px;
	}
	.vision img {
		width: 415px;
	}
	.bring-2 ul img {
		width: 134px;
	}
	.bring-2 {
		padding: 59px 0px;
	}
	.bring-1 img {
		width: 410px;
		height: 400px;
	}
	.b-img {
		width: 400px;
		height: 410px;
	}
	.bring-2 ul {
		margin-bottom: 47px;
	}
}
@media(max-width:850px){
	.second {
		display: inline-block;
		margin-top: 122px;
		text-align: center;
		margin-left: 179px;
	}
	#soulful {
		width: 96%;
		margin: auto;
		/* padding: 50px; */
	}
	.soulful h1 {
		margin: 13px 0px;
		font-size: 33px;
	}
	.but {
		margin: 31px 0px;
	}
	.vision img {
		width: 387px;
	}
	.vision img {
		width: 366px;
	}
	.right h2 {
		padding: 8px;
	}
	.bring-1 {
		padding: 10px 0px;
	}
	.bring-1 img {
		width: 390px;
		height: 400px;
	}
	.b-img {
		width: 390px;
		height: 410px;
	}
	.bring-2 {
		padding: 69px 0px;
	}
	.head {
		background-image: url('../images/slider-1.jpg');
		height: 605px;
		opacity: 1;
		z-index: -1;
		color: white;
	}
	.item {
		font-size: 33px;
	}
}
@media(max-width:805px){
	.bring-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
	.bring-1 img {
		width: 700px;
		height: 400px;
		margin: auto;
	}
	.bring-1 {
		padding: 0px 0px;
	}
	.bring-1 {
		padding: 0px 0px;
		margin: auto;
		width: 99%;
	}
	.bring-2 ul img {
		width: 153px;
	}
	.bring-2 ul {
		margin-bottom: 31px;
		text-align: center;
	}
	.bring-2 {
		padding: 14px 0px;
	}
	.b-img {
		width: 700px;
		height: 410px;
	}
}
@media(max-width:750px){
	.vision img {
		width: 340px;
	}
	.vision img {
		width: 325px;
	}
	.right h2 {
		padding: 0px;
		font-size: 18px;
	}
	.second {
		display: inline-block;
		margin-top: 122px;
		text-align: center;
		margin-left: 110px;
	}
	.bring-1 img {
		width: 630px;
		height: 400px;
		margin: auto;
	}
	.b-img {
		width: 630px;
		height: 410px;
	}
}
@media(max-width:670px){
	.vision {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		width: 99%;
		margin: auto;
	}
	.right {
		/* padding: 50px 0px; */
		margin-top: 12px;
		padding: 0px;
	}
	.vision img {
		width: 583px;
		height: 324px;
	}
	.bring-1 img {
		width: 580px;
		height: 400px;
		margin: auto;
	}
	.b-img {
		width: 580px;
		height: 410px;
	}
	
	.vision {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		width: 90%;
		margin: auto;
	}
}
@media(max-width:650px){
	.second {
		display: inline-block;
		margin-top: -49px;
		text-align: center;
		margin-left: 82px;
	}
}
@media(max-width:600px){
	.item {
		font-size: 20px;
	}
	button {
		margin: 0px;
	}
	button {
		height: 38px;
		width: 160px;
		font-size: 16px;
		cursor: pointer;
		border: 1px;
	}
	.vision img {
		width: 530px;
		height: 300px;
	}
	.bring-1 img {
		width: 520px;
		height: 390px;
		margin: auto;
	}
	.b-img {
		width: 520px;
		height: 395px;
	}
	.head {
		background-image: url('../images/slider-1.jpg');
		height: 470px;
		opacity: 1;
		z-index: -1;
		color: white;
	}
	.soulful h1 {
		margin: 5px 0px;
		font-size: 22px;
	}
	.soul {
		text-align: center;
		margin: 26px 0px;
	}
	.second {
		display: inline-block;
		margin-top: -81px;
		text-align: center;
		margin-left: 40px;
	}

}
@media(max-width:570px){
	.vision img {
		width: 470px;
		height: 270px;
	}
	.bring-1 img {
		width: 461px;
		height: 310px;
		margin: auto;
	}
	.brings {
		width: auto;
		margin: 6px;
	}
	.b-img {
		width: 470px;
		height: 310px;
	}
	.bring-2 ul img {
		width: 135px;
	}
	.bring-2 ul {
		margin-bottom: 20px;
		text-align: center;
	}
	.bring-grid h2 {
		padding: 0px 5px;
	}
}
@media(max-width:500px){
	.vision img {
		width: 438px;
		height: 245px;
	}
}