.elementor-widget-dt-instagram-grid .dt-instagram .dt-instagram-entry:nth-child(even) { clip-path: inset(0 0 100% 0); -webkit-clip-path: inset(0 0 100% 0); }
.elementor-widget-dt-instagram-grid .dt-instagram .dt-instagram-entry:nth-child(odd) { clip-path: inset(100% 0 0 0); -webkit-clip-path: inset(100% 0 0 0); }

.elementor-widget-dt-instagram-grid .dt-instagram .dt-instagram-entry { 
    transform: translateX(0px);
    transition: transform .64s ease,-webkit-clip-path 1.26s cubic-bezier(.72,.24,.19,.82);
    transition: clip-path 1.26s cubic-bezier(.72,.24,.19,.82),transform .64s ease;
    transition: clip-path 1.26s cubic-bezier(.72,.24,.19,.82),transform .64s ease,-webkit-clip-path 1.26s cubic-bezier(.72,.24,.19,.82); }

.elementor-widget-dt-instagram-grid.animated .dt-instagram .dt-instagram-entry { clip-path: inset(0 0 0 0); -webkit-clip-path: inset(0 0 0 0); transform: translateX(0); }

.dt-instagram .dt-instagram-entry { height: 365px; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; overflow: hidden; -webkit-box-orient: vertical;
-webkit-box-direction: normal; align-self: stretch; }
.dt-instagram .dt-instagram-entry img { height: 100%; width: 100%; object-fit: cover; object-position: center; -webkit-filter: grayscale(100%); filter: grayscale(100%); }

.dt-instagram .dt-instagram-entry img {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    -webkit-transition: 500ms cubic-bezier(0.45, 0.47, 0.99, 1);
    transition: 500ms cubic-bezier(0.45, 0.47, 0.99, 1);
    transition: 500ms cubic-bezier(0.45, 0.47, 0.99, 1);
}

.dt-instagram .dt-instagram-entry:hover img {
    -webkit-clip-path: inset(5px 5px 5px 5px);
    clip-path: inset(5px 5px 5px 5px);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/*--------------------------------------------------------------
Responsive
--------------------------------------------------------------*/

@media only screen and (min-width:1281px) and (max-width:1440px) {

    .dt-instagram .dt-instagram-entry { height: 300px; }

}

@media only screen and (min-width:1025px) and (max-width:1280px) {

    .dt-instagram .dt-instagram-entry { height: 300px; }

}

@media only screen and (min-width:768px) and (max-width:1024px) {

    .dt-sc-custom-insta-title.elementor-widget-heading .elementor-heading-title { margin: 0 20px 40px; }

    .elementor-widget-dt-instagram-grid { padding: 0 20px; }

    .dt-instagram .dt-instagram-entry { height: 200px; }

}

/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
	/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px) {

    .dt-sc-custom-insta-title.elementor-widget-heading .elementor-heading-title { margin: 0 20px 40px; }

    .elementor-widget-dt-instagram-grid { padding: 0 20px; }

    .dt-instagram .dt-instagram-entry { height: 500px; }

}

/* Common Styles for the devices below 479px width */
@media only screen and (max-width: 479px) {

    .dt-sc-custom-insta-title.elementor-widget-heading .elementor-heading-title { margin: 0 20px 40px; }

    .elementor-widget-dt-instagram-grid { padding: 0 20px; }

    .dt-instagram .dt-instagram-entry { height: 300px; }

}