.elementor-widget-dt-activities .elementor-activities-wrapper, .elementor-widget-dt-activities .elementor-activities-wrapper .elementor-activities-icon:after, .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-location  { transition: var(--DTBaseTransition); }

.elementor-widget-dt-activities .elementor-activities-wrapper { width: 100%; display: flex; flex-wrap: wrap; align-self: self-start; overflow: hidden; text-align: left;
justify-content: flex-start; }

.elementor-widget-dt-activities .elementor-activities-wrapper .elementor-activities-icon { position: relative; }

.elementor-widget-dt-activities .elementor-activities-wrapper .elementor-activities-icon:after { content: ''; display: block; height: 100%; opacity: 0; position: absolute; top: auto; width: 100%; bottom: 0;
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.75) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,.7)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.75) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.75) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.75) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000', endColorstr='#b3000000', GradientType=0); }

.elementor-widget-dt-activities:hover .elementor-activities-wrapper .elementor-activities-icon:after,
.elementor-widget-dt-activities:hover .elementor-activities-content .elementor-activities-location { opacity: 1; }

.elementor-widget-dt-activities .elementor-activities-content { background-color: var(--DTBodyBGColor); border: 1px solid var(--DTTertiaryColor); border-top: 0; padding: 50px 40px; position: relative; width: 100%; }

.elementor-widget-dt-activities .elementor-activities-content > [class*="-activities"]:not(:last-child) { margin: 0 0 20px; }

.elementor-widget-dt-activities .elementor-activities-content .elementor-activities-title { font-size: var(--DTFontSize_H5); font-weight: var(--DTFontWeight_Ext); }

.elementor-widget-dt-activities .elementor-activities-content .elementor-activities-location { color: var(--DTWhiteColor); display: block; font-weight: var(--DTFontWeight_regular); margin-left: 35px !important; opacity: 0; padding: 0 25px; position: absolute; bottom: 100%; left: 0; width: auto; transition: var(--DTBaseTransition); }

.elementor-widget-dt-activities:not(:hover) .elementor-activities-content .elementor-activities-location { margin-bottom: 0 !important; }


.elementor-widget-dt-activities .elementor-activities-content .elementor-activities-location:before { color: var(--DTPrimaryColor); content:"\f276"; display: inline-block; font-family: "Font Awesome 5 Free"; font-weight: 900; margin: 0; position: absolute; left: 0; }

.elementor-widget-dt-activities .elementor-activities-content .elementor-activities-price { font-weight: var(--DTFontWeight_regular); }

.elementor-widget-dt-activities .elementor-activities-content .elementor-activities-price span { color: var(--DTPrimaryColor); font-style: italic; }


/* Responsive Styles*/

@media only screen and (min-width:1281px) and (max-width:1440px) {

    .elementor-widget-dt-activities .elementor-activities-content { padding: 40px 35px; }
    .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-title { font-size: 23px; }
    .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-location { font-size: 18px; }
    .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-price { font-size: 18px; }

}

@media only screen and (min-width:1025px) and (max-width:1280px) {

    .elementor-widget-dt-activities .elementor-activities-content { padding: 40px 35px; }
    .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-title { font-size: 22px; }
    .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-location { font-size: 18px; }
    .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-price { font-size: 18px; }

}

@media only screen and (min-width:768px) and (max-width:1024px) {

    .elementor-widget-dt-activities .elementor-activities-content { padding: 30px 25px; }
    .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-title { font-size: 22px; }
    .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-location { font-size: 18px; margin-left: 25px !important; }
    .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-price { font-size: 18px; }

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) {

    .elementor-widget-dt-activities .elementor-activities-content { padding: 30px 20px; }
    .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-title { font-size: 22px; }
    .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-location { font-size: 18px; margin-left: 20px !important; }
    .elementor-widget-dt-activities .elementor-activities-content .elementor-activities-price { font-size: 18px; }

}